In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('./train_2v.csv')

In [3]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
id                   43400 non-null int64
gender               43400 non-null object
age                  43400 non-null float64
hypertension         43400 non-null int64
heart_disease        43400 non-null int64
ever_married         43400 non-null object
work_type            43400 non-null object
Residence_type       43400 non-null object
avg_glucose_level    43400 non-null float64
bmi                  41938 non-null float64
smoking_status       30108 non-null object
stroke               43400 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [5]:
(df['stroke']==1).sum()

783

In [6]:
df['smoking_status'].isnull().sum()

13292

In [7]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [8]:
X=df.drop(['id','ever_married','work_type','Residence_type','smoking_status','heart_disease','gender','stroke'],axis=1)
y=df['heart_disease']
ids=df['id']

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

In [10]:
X.describe()

                age  hypertension  avg_glucose_level           bmi
count  43400.000000  43400.000000       43400.000000  41938.000000
mean      42.217894      0.093571         104.482750     28.605038
std       22.519649      0.291235          43.111751      7.770020
min        0.080000      0.000000          55.000000     10.100000
25%       24.000000      0.000000          77.540000     23.200000
50%       44.000000      0.000000          91.580000     27.700000
75%       60.000000      0.000000         112.070000     32.900000
max       82.000000      1.000000         291.050000     97.600000

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 4 columns):
age                  43400 non-null float64
hypertension         43400 non-null int64
avg_glucose_level    43400 non-null float64
bmi                  41938 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.3 MB

In [12]:
df['bmi'].isnull().sum()

1462

In [13]:
li=X.columns

In [14]:
from sklearn.preprocessing import Imputer

In [15]:
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)
imp.fit(X)
X=imp.transform(X)
new_X=pd.DataFrame(X,columns=li)
new_X.head()

    age  hypertension  avg_glucose_level   bmi
0   3.0           0.0              95.12  18.0
1  58.0           1.0              87.96  39.2
2   8.0           0.0             110.89  17.6
3  70.0           0.0              69.04  35.9
4  14.0           0.0             161.28  19.1

In [16]:
new_X['bmi'].isnull().sum()

0

In [17]:
sc=Normalizer()
df=sc.fit_transform(new_X)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn import svm

C:\Users\mridu\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [19]:
algo= {
    "knn":KNeighborsClassifier(),
    "Decision Tree":DecisionTreeClassifier(),
    "Random Forest":RandomForestClassifier(),
    "SVM" : svm.SVC(),
    "XGBOOST": xgb.XGBClassifier()
}

In [20]:
X_train,X_test,y_train,y_test=train_test_split(new_X,y,test_size=0.3,random_state=40)

In [21]:
dftest=pd.read_csv('./test_2v.csv')
X1=dftest.drop(['id','ever_married','work_type','Residence_type','smoking_status','heart_disease','gender'],axis=1)
y1=dftest['heart_disease']
ids=dftest['id']

In [22]:
li1=X1.columns

In [23]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18601 entries, 0 to 18600
Data columns (total 11 columns):
id                   18601 non-null int64
gender               18601 non-null object
age                  18601 non-null float64
hypertension         18601 non-null int64
heart_disease        18601 non-null int64
ever_married         18601 non-null object
work_type            18601 non-null object
Residence_type       18601 non-null object
avg_glucose_level    18601 non-null float64
bmi                  18010 non-null float64
smoking_status       12850 non-null object
dtypes: float64(3), int64(3), object(5)
memory usage: 1.6+ MB

In [24]:
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)
imp.fit(X1)
X1=imp.transform(X1)
new_X1=pd.DataFrame(X1,columns=li1)
new_X1.head()

    age  hypertension  avg_glucose_level   bmi
0  80.0           0.0              83.84  21.1
1  74.0           0.0             179.50  26.0
2  14.0           0.0              95.16  21.2
3  28.0           0.0              94.76  23.4
4  63.0           0.0              83.57  27.6

In [25]:
sc=Normalizer()
dftest=sc.fit_transform(new_X1)

In [26]:
dtf=DecisionTreeClassifier()
dtf.fit(new_X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [27]:
print("How old are You?")
age=int(input())
print("Whats your Average Glucose Level?")
avg_glucose_level=float(input())
print("Enter your BMI")
bmi=float(input())
print("Hypertension?(yes-1/no-0)")
hypertension=int(input())
df1=pd.DataFrame([[age,hypertension,avg_glucose_level,bmi]])
sc.fit_transform(df1)
prediction=dtf.predict(df1)
if(prediction==1):
    print("you Have A Heart Disease, Consult your Doctor As soon as possible,We Hope You Get Well Soon")
else:
    print('You Dont Have Any Heart Disease')

How old are You?
75
Whats your Average Glucose Level?
243
Enter your BMI
27
Hypertension?(yes-1/no-0)
0
you Have A Heart Disease, Consult your Doctor As soon as possible,We Hope You Get Well Soon